<!DOCTYPE html>
<html>
  <head>
    <title>Games On Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Games On Rails</h1>
    <nav>
      <a href="/games">Home</a>
    </nav>
    <%= yield %>
  </body>
</html>
