<!DOCTYPE html>
<html>
  <head>
    <title>OceanApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/oceans">All Oceans</a>
        <a href="/oceans/new">New Ocean</a>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
