<h1><%= @country.name %></h1>

<%= image_tag @country.image, :class => 'feature' %>
<ul>
  <li>Area: <%= @country.area %></li>
  <li>Population: <%= number_to_human @country.population %></li>
  <li>Currency: <%= @country.currency %></li>
  <li>Cities:
    <ul>
      <% @country.cities.each do |city| %>
        <li><%= link_to city.name, city_path(city) %></li>
      <% end %>
    </ul>
  </li>
</ul>

<div class="controls">
  <%= link_to 'Edit Country', edit_country_path(@country) %>
  <%= link_to 'Delete Country', country_path(@country), :method => 'delete' %>
</div>
