<div class="mainArticle">

<h2>Edit a city</h2>

<form class="form" action="/cities/<%= @city.id %>" method="post">

  <label class="formbox">City: </label>
  <input class="formbox" type="text" name="city" value="<%= @city[:city] %>" placeholder="Sydney..">

  <label class="formbox">Year Visited: </label>
  <input class="formbox" type="year" value="<%= @city[:year] %>" name="year" placeholder="2018..">

  <label class="formbox">Country: </label>
  <select class="formbox" name="country_id">
    <option></option>
    <% Country.all.each do |country| %>
    <option value="<%= country["id"] %>" <%= "selected" if country.id == @city.country_id %>>
      <%= country["name"]%>
    </option>
    <% end %>
  </select>

  <label class="formbox">Image: </label>
  <input class="formbox" type="text" name="image" placeholder="http://...">

  <button class="formbox">Edit City</button>


</form>

</div>
