<!DOCTYPE html>
<html>
  <head>
    <title>FootballAppV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', countries_path %>
      |
      <%= link_to 'All Player', players_path %>
      |
      <%= link_to 'New Player', new_player_path %>
      |
      <%= link_to 'All Teams', teams_path %>
      |
      <%= link_to 'New Team', new_team_path %>
    </nav>
    <div class="container">

      <%= yield %>

    </div>

  </body>
</html>
