<h2>Name: <%= @pokemon["name"] %></h2>
<h3>Type: <%= @pokemon["type"] %></h3>
<% if @pokemon["evolves"].to_s == "1" %>
  <h3>Evolves: Yes</h3>
<% else %>
  <h3>Evolves: Yes</h3>
<% end %>

<% unless @pokemon["image"].nil? %>
  <img class="feature" src="<%= @pokemon["image"] %>" alt="<%= @pokemon["name"] %>">
<% end %>

<div class="controls">
  <a href="/pokedex/<%= @pokemon["id"] %>/edit">Edit Pokemon</a>
  <a href="/pokedex/<%= @pokemon["id"] %>/delete">Delete Pokemon</a>
</div>
