
<h1>Title of book: <%= @title_book %></h1>
<div>
  <div class="row">
    <img src="<%= @image_book %>">
  </div>
  <div class="row">
    <h2>Author of book: <%= @author_book %></h2>
    <h2>Book released: <%= @published_Date %></h2>
    <h2>Language: <%= @language_book %></h2>
    <h2>Number of pages: <%= @page_Count %></h2>
  </div>
  </div>
  <div>
    <h2>Description: <%= @description_book %></h2>
  </div>
