<!DOCTYPE html>
<html>
  <head>
    <title>WondersOfWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/list">All Mountains</a>
      <a href="/mountain/new">New</a>
      <a href=""></a>
    </nav>
    <%= yield %>
  </body>
</html>
