<div class="main-book">
  <h2><%= @title0%> <span>by <%= @author %></span></h2>
  <a href=<%= @infoLink%> target="_blank">
    <img id="main-img" src=<%= @thumbnail%> alt="thumbnail of <%= @title0%>">
  </a>
</div>

<p>Did not find what you want? <button id="show">Show more</button></p>

<div class="show-more">
  <div class="books">
    <p><%= @title1%> <span>by <%= @author1 %></span></p>
    <a href=<%= @infoLink1%> target="_blank" ><img src=<%= @thumbnail1%> alt="thumbnail of <%= @title1%>"></a>
  </div>
  <div class="books">
    <p><%= @title2%> <span>by <%= @author2 %></span></p>
    <a href=<%= @infoLink2%> target="_blank" ><img src=<%= @thumbnail2%> alt="thumbnail of <%= @title2%>"></a>
  </div>
  <div class="books">
    <p><%= @title3%> <span>by <%= @author3 %></span></p>
    <a href=<%= @infoLink3%> target="_blank" ><img src=<%= @thumbnail3%> alt="thumbnail of <%= @title3%>"></a>
  </div>
  <div class="books">
    <p><%= @title4%> <span>by <%= @author4 %></span></p>
    <a href=<%= @infoLink4%> target="_blank" ><img src=<%= @thumbnail4%> alt="thumbnail of <%= @title4%>"></a>
  </div>
  <div class="books">
    <p><%= @title5%> <span>by <%= @author5 %></span></p>
    <a href=<%= @infoLink5%> target="_blank" ><img src=<%= @thumbnail5%> alt="thumbnail of <%= @title5%>"></a>
  </div>
</div>
