<h11><%= @data['profile_name'] %></h11>
<center><img class="display-pic" src="<%= @data['profile_image'] %>"></center>




<td class='thenews' style='vertical-align: top; padding: 20px; text-align: center'>
<h22><%= @data['article_title'] %></h22>
<center><%= @data['article_subtitle'] %></center>

<div class='side'>


<p><%= @data['article_text'] %></p>
<img src="<%= @data['thumb1'] %>">
<img src=" <%= @data['thumb2'] %>" alt="">
<img src="<%= @data['thumb3'] %>" alt="">
<!--
id INTEGER PRIMARY KEY AUTOINCREMENT,
profile_name TEXT,
profile_image TEXT, --url for photo
article_title TEXT, --url for photo of butterfly
article_subtitle TEXT,
article_text TEXT,
thumb1 TEXT,
thumb2 TEXT,
thumb3 TEXT -->
