<h2><%= @band.name %></h2>

<%= image_tag @band.image, :class => 'feature' %>

<ul>
  <li>Country of Origin: <%= @band.country %></li>
  <li>Genre: <%= @band.genre %></li>
  <li>Spotify Followers: <%= @band.followers %></li>
</ul>

<% @band.albums.each do |album| %>
<%= link_to image_tag(album.cover, :class => 'thumb') %>
<% end %>

<div class="controls">

  <%= link_to 'Edit Band', edit_band_path(@band) %>
  <%= link_to 'Delete Band', @band, :method => 'delete' %>

</div>
