<h2><%= @team["name"] %></h2>

<form action="/edit" method="post">
  <input id="edit-id" type="text" name="id" value=<%= @team["id"] %>>
  <div class="form-row">
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%= @team["name"] %>" placeholder="team name.." required>
  </div>

  <div class="form-row">
    <label for="city">City: </label>
    <input type="text" name="city" value="<%= @team["city"] %>" placeholder="city of the team.." required>
  </div>

  <div class="form-row">
    <label for="stadium">Stadium: </label>
    <input type="text" name="stadium" value="<%= @team["stadium"] %>" placeholder="stadium.." required>
  </div>

  <div class="form-row">
    <label for="stadium_capacity">Stadium Capacity: </label>
    <input type="text" name="stadium_capacity" value="<%= @team["stadium_capacity"] %>" placeholder="stadium capacity.." required>
  </div>

  <div class="form-row">
    <label for="last_rank">Last Season Standing: </label>
    <input type="text" name="last_rank" value="<%= @team["last_rank"] %>" placeholder="last season standing.." required>
  </div>

  <div class="form-row">
    <label for="title">Title Won: </label>
    <input type="text" name="title" value="<%= @team["title"] %>" placeholder="title won.." required>
  </div>

  <div class="form-row">
    <label for="logo">Logo URL: </label>
    <input type="URL" name="logo" value="<%= @team["logo"] %>" placeholder="Http://..." required>
  </div>
  <button>Save Change</button>
</form>
